<% var abc = rows.value;%> 

<table border="true">
<th>Friends</th>
<% for(var i=0; i < abc.length; i++) { %>
   <tr>
    <td><%= abc[i].time_constant %></td>
    <td><%= abc[i].time_constant %></td>
    <td><%= abc[i].time_constant %></td>
    <td><%= abc[i].time_constant %></td>
    
    <td> <input type = "submit"></td>
    
     
   </tr>
<% } %>
</table>